@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sniglet:wght@400;800&display=swap');

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  background-color: #F2EB88;
  color: blue;
}