PORT="3001"
NODE_ENV="development"
BASE_URL="http://localhost:3001"

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://helendessa:1234@nsdessa:3306/petpet_db"
JWT_SECRET="d9bbc683a9fe3befca13639b95756169f0909defe512bf83266fab6861724c031e1701920da85be52bb9bab94d7f2a9aad2426bd9a75855e08ea9f2fdcf6064a"